@import url("./latte.css");
@import url("./frappe.css");
@import url("./macchiato.css");
@import url("./mocha.css");

html {
    accent-color: var(--brand);
    background-color: var(--surface1);
    color: var(--text1);
}

h1, h2, h3, h4, p, dt {
    color: var(--text1);
}

h5, h6, small, dd {
    color: var(--text2);
}

.surface1 {
    background-color: var(--surface1);
    color: var(--text2);
}

.surface2 {
    background-color: var(--surface2);
    color: var(--text2);
}

.surface3 {
    background-color: var(--surface3);
    color: var(--text1);
}

.surface4 {
    background-color: var(--surface4);
    color: var(--text1);
}
